@media(max-width:1000px){ 
  .container{
    width:100%;
  }
  .tablet{
    display:block;
  }
  .desktop{
    display:none;
  }

/*-----header-----*/
  header{
    flex-direction: column;
    justify-content: center;
    height:auto;
    margin-top:30px;
  }
  header a{
    line-height: 40px;
  }

  .header-right{
    justify-content: center;
  }
  .header-right a{
    font-size: 14px; 
  }
  .header-right ul{
    padding-inline-start: 0px;
  }
  .header-right li{
    margin:0 10px;
  }

/*-----top-wrapper-----*/
.top-wrapper{
  min-height:500px;
  background-size: auto 100%;
}
.title-message{
  font-size:30px;
}
.title-text{
  font-size:12px;
  font-weight: normal;
}

/*-----about-----*/
.part{
  flex-direction: column center;
  justify-content: center;
}
.wrapper-title{
  margin:80px auto 30px;
  font-size:20px;
}
.left-image{
  width:90%;
}
.left-image img{
  width:100%;
  margin-bottom: 20px;
}
.right-text{
  width:85%;
  font-size: 12px;
}

/*-----contents-----*/


.content{
  width:90%;
  margin-bottom: 20px;
}

/*-----contact-----*/
.contact{
  width:100%;
}
.contact-text{
  font-size: 12px;
  padding-bottom: 20px;
}

.contact-form input{
  width:75%;
}

.btn a{
  width:90%;
}

/*-----footer-----*/
footer{
  margin:0 auto;
  justify-content: center;
  width:90%;
}

small{
  font-size: 10px;
  margin:20px 0 20px;
}




}