body{
  background-color: white;
  overflow-y: scroll;
}
.container{
  max-width:1000px;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
/*-----header-----*/
header{
  background-color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:80px;
}
header a{
  line-height: 80px;
  text-decoration: none;
  color:rgb(9, 43, 72);
  font-weight: bold;
}
.header-left a{
  font-size:30px;
}
.header-right a{
  font-size:18px;
}

.header-right ul{
  list-style: none;
  display:flex;
  background-color: white;
}

.header-right li{
  margin-right:30px;
}

/*-----top-wrapper-----*/
.top-wrapper{
  min-height: 430px;
  background-image: url("img/main-vsual-nontitle.png");
  background-size:100vw auto;
  margin:0 calc(50% - 50vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:rgb(9, 43, 72);
  font-weight: bold;
}
.title-message{
  font-size: 50px;
}
.title-text{
  font-size:18px;
  padding-top:30px;
}

/*-----about-----*/
.part{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper-title{
  width:100%;
  text-align: center;
  color:rgb(9, 43, 72);
  font-size:30px;
  font-weight: bold;
  margin:50px;
}
.left-image{
  width:45%;
}
.left-image img{
  width:100%;
}

.right-text{
  width:45%;
  font-size:18px;
  color:rgb(9, 43, 72);
}
