body{
  background-color: white;
}
.container{
  max-width:960px;
  margin:0 auto;
}
/*-----header-----*/
header{
  background-color: aqua;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:80px;
}
header a{
  line-height: 80px;
  text-decoration: none;
  color:rgb(9, 43, 72);
  font-weight: bold;
}
.header-left a{
  font-size:30px;
}
.header-right a{
  font-size:18px;
}

.header-right ul{
  list-style: none;
  display:flex;
  background-color: blue;
}

.header-right li{
  margin-right:30px;
}

/*-----top-wrapper-----*/